{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-console": "warn",
    "quotes": ["error", "single"]
  },
  "extends": ["eslint:recommended", "eslint-config-prettier"],
  "env": {
    "browser": true
  }
}
