{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "quotes": ["error", "single"]
  },
  "extends": ["react-app", "eslint-config-prettier"],
  "env": {
    "browser": true
  }
}
